:root {
  --nav-background: #000;
  --nav-link-color: #fff;
  --hightlight-color: #ffe81f;
}


body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  font-family: sans-serif;
}

